input{
    padding: 10px;
    width: 400px; 
    outline: 0;
    border-width: 0 0 2px;
    border-color: gray;
}

input:focus{
    border-color: green;
}

label{
    font-weight: bold;
    margin-top: 20px;
}
