<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment">
             <div class="payment_header">
                <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="content">
                <h1>Payment ₹ {{ amount }} Success !</h1>
                <br>
                <p>Item will be delivered within 2-3 business working days.</p>
                <p>Shipping details has been sent to your email Id and mobile number.</p>
                <a (click)="goToHome()">Go to Home</a>
             </div>
             
          </div>
       </div>
    </div>
 </div>